@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --primary: #171c22;
  --secondary: #2ad883;
  --light: #f9f8f6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* utility */
.text-decoration-none{
  text-decoration: none;
}

.text-secondary{
  color: var(--secondary);
}

.text-light{
  color: var(--light);
}

.text-md{
  font-size: 24px;
}

.font-bold{
  font-weight: bold;
}

.bg-primary{
  background-color: var(--primary);
}

.bg-secondary{
  background-color: var(--secondary);
}

.d-md-none{
  display: none;
}

.d-flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-column{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.justify-space-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}


/* component */
nav{
  width: 100%;
  height: 90px;
  position: fixed;
  padding: 0 10%;
  opacity: 0.89;
}

.menu-toggle{
  height: 20px;
  width:fit-content;
  position: relative;
}

.menu-toggle input{
  position: absolute;
  width: 40px;
  height: 27px;
  left: -5px;
  opacity: 0;
}

.menu-toggle span{
  width: 30px;
  height: 5px;
  display: block;
  background-color: var(--light);
  border-radius: 3px;  
}

.navOption{
  gap: 25px;
}

.hero{
  height: 100vh;
  text-align: center;
}

.about{
  padding: 0 10%;
  height: 100vh;
}

.about .about-content img{
  width: 287px;
}
.about .about-content p{
  width: 50%;
}

.skills{
  background-color: var(--secondary);
  height: 100vh;
  gap: 100px;
}

.skillsIcon{
  gap: 10px;
}

.skillsIcon img{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(186deg) brightness(100%) contrast(100%);
  width: 100px;  
}

.skillsIcon img:hover{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(186deg) brightness(0%) contrast(100%);
}

.project{
  height: 100vh;
  gap: 100px;
}

.containerProjects{
  gap: 30px;
}

.containerProjects img{
  width: 25%;
}

.containerProjects img:hover{
  scale: 1.05;
  filter: drop-shadow(5px 5px 5px var(--secondary));
  cursor: pointer;
}

.contact{
  height: 100vh;
  gap: 100px;
  /* background-image: url('./assets/seabottom.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}

.social-medias{
  gap: 30px;
}

.social-medias img{
  width: 50px;
}

.social-medias img:hover{
  cursor: pointer;
  filter: drop-shadow(5px 5px 3px var(--light));
}

.footer{
  text-align: center;
  padding: 15px 0;
}



/* MOBILE DEVICE */
@media only screen and (max-width: 600px) {
  .d-none{
    display: none;
  }

  nav{
    flex-direction: column;
    gap: 50px;
  }

  .containerMenu{
  width: 95%;
  justify-content: space-between;
  align-items: center;
}

  .menu-toggle{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .navOption{
    background-color:rgba(42, 216, 131, 0.8);
    flex-direction: column;
    padding: 10px 100%;
  }

  .about{
    padding: 0 ;    
  }
  .about-content{
    flex-direction: column;
    gap: 20px;
  }

  .about .about-content img{
    width: 80%;
  }

  .about .about-content p{
    width: 80%;
  }

  .skillsIcon img{    
    width: 50px;  
  }

  .containerProjects img{
    width: 80%;
  }

}